In [ ]:
'''
Ejercicio de auto-diagnostico 

Extraigan el csv del comprimido NY Housing Market.zip y creen un programa en Python que siga las instrucciones:

1. importar el dataset con pandas 

2. Responder:
	a- Cuantas filas tiene el dataset? 
	b- Que tipos de datos tienen las columnas?
	c- Cuales columnas son numericas y cuales son categoricas?
	d- Si quisiera hacer un analisis de precio segun la localidad, que columnas eligiria para el analisis?
	e- Cuantas casas son de Brooklyn? 
	f- Modificar la columna “Type” y reemplazar los espacios “ “ por guiones “-” 

'''

In [2]:
import pandas as pd

df = pd.read_csv('datasets/NY-House-Dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  4801 non-null   object
 1   TYPE                         4801 non-null   object
 2   PRICE                        4801 non-null   int64
 3   BEDS                         4801 non-null   int64
 4   BATH                         4801 non-null   float64
 5   PROPERTYSQFT                 4801 non-null   float64
 6   ADDRESS                      4801 non-null   object
 7   STATE                        4801 non-null   object
 8   MAIN_ADDRESS                 4801 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  4801 non-null   object
 10  LOCALITY                     4801 non-null   object
 11  SUBLOCALITY                  4801 non-null   object
 12  STREET_NAME                  4801 non-null   object
 13  LONG_NAME                    4801 non-null   object
 14  FORMATTED_ADDRESS            4801 non-null   object
 15  LATITUDE                     4801 non-null   float64
 16  LONGITUDE                    4801 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 637.8+ KB

In [24]:
# Respuestas posibles al inciso e
len(df[df['LOCALITY'] == 'Brooklyn'])

df[df['LOCALITY'] == 'Brooklyn'].shape

(6, 17)

In [23]:
# Respuestas posibles al inciso f
# tanto apply como transform tienen el mismo efecto, solo que transform es mas preciso.

df['TYPE'].transform(lambda x: x.replace(' ', '-'))

df['TYPE'].apply(lambda x: x.replace(' ', '-'))

df['TYPE'].transform(str.replace, args=[' ', '-'])

0           Condo-for-sale
1           Condo-for-sale
2           House-for-sale
3           Condo-for-sale
4       Townhouse-for-sale
               ...
4796        Co-op-for-sale
4797        Co-op-for-sale
4798        Co-op-for-sale
4799        Condo-for-sale
4800        Co-op-for-sale
Name: TYPE, Length: 4801, dtype: object